.module-calendar {
    width: 470px;
}
.calendar-navigation {
    height: 50px;
}
.calendar-change-date {
    cursor: pointer;
}
.week-number {
    width: 50px;
    float: left;
    margin-top: 7px;
    line-height: 14px;
    text-align: center;
    color: #d3d3d3;
}
.calendar-day-cell {
    width: 54px;
    float: left;
    text-align: center;
    color: #e3e3e3;
    border: 1px solid #d3d3d3;
    margin: 2px;
    cursor: pointer;
}
.calendar-day-cell.current-month {
    color: #000000;
    border-color: #333;
}
.calendar-day-cell.current-month.weekend {
    border-color: #cd5c5c;
}
.calendar-day-cell.past-blocked, .calendar-day-cell.temporary-blocked {
    background-color: #eee;
    color: #808080;
}
.calendar-day-cell.weekend {
    border-color: #ffe4e1;
}
.calendar-day-cell.old-selected {
    background-color: #2878d3;
    color: #000000;
}
.calendar-day-cell.blocked {
    background-color: #ee7156;
    color: #000000;
}
.calendar-day-cell.selected {
    background-color: #7ab5d3;
    color: #000000;
}
.calendar-day-cell.today {
    font-weight: bold;
    text-decoration: underline;
}
