/*** Re-write Twitter Bootstrap styles ***/
.navbar-static-top .container, .navbar-fixed-top .container, .navbar-fixed-bottom .container, .container {
    width: 1260px;
}
.width-full {
    width: 100%;
}
input[type="checkbox"] {
    margin-bottom: 0px;
}
.popover-inner {
    width: auto;
}
/*** Personal styles ***/
#container {
    margin-top: 60px;
}
.user-row.checked-in .btn-user-check-in, .user-row .btn-user-check-out {
    display: none;
}
.user-row.checked-in .btn-user-check-out {
    display: inline-block;
}
/*.user-row.checked-out .btn-user-check-in,*/ .user-row.checked-out .btn-user-check-out {
    display: none;
}
#user-checking-calendar-container {
    width: 510px;
}
.user-row .user-full-name {
    padding-bottom: 1px;
}
.show-history .user-full-name:hover {
    padding-bottom: 0px;
    border-bottom: 1px dashed #808080;
    cursor: pointer;
}

.checking-history-header {
    float: left;
    width: 100%;
    text-align: center;
    margin-top: 20px;
}
.checking-history-header span {
    font-weight: bold;
}
.checkins-table-container {
    margin-left: 100px;
}
.checkins-table-container th {
    width: 150px;
}
#show-user-checking-modal .modal-footer .save-checkin-data-button,
#show-user-checking-modal .edit-check-data {
    display: none;
}
#show-user-checking-modal.is-admin .modal-footer .save-checkin-data-button,
#show-user-checking-modal.is-admin .edit-check-data {
    display: block;
}
.edit-check-data, .cancel-edit-check-data {
    position: relative;
    float: right;
}

.user-check-row .check-input {
    display: none;
}
.user-check-row .check-string {
    display: block;
}
.user-check-row.edit .check-input {
    display: block;
}
.user-check-row.edit .check-string {
    display: none;
}

.small-tip {
    font-size: 10px;
    color: gray;
}
form.form-mini {
    padding: 0px; margin: 0px;
}
.btn-no-text {
    padding: 6px 14px 7px 14px;
}
.table-small-td td {
    padding-top: 3px;
    padding-bottom: 3px;
    vertical-align: middle;
}
.group-settings-table .input-append, .group-settings-table input {
    margin-bottom: 0px;
}
.group-settings-table td {
    vertical-align: top;
    padding: 3px;
}

.regular-holidays .label {
    margin: 2px 2px;
    float: left;
}
.create-regular-holiday {
    position: absolute;
    margin-left: -33px;
}

.create-group {
    position: absolute;
    margin-left: -40px;
}
.edit-group {
    position: absolute;
    margin-left: -35px;
}
.create-group-exception {
    position: absolute;
    margin-left: 200px;
}
.group-color-variation {
    width: 70px;
    font-size: 12px;
    margin: 3px;
    border: 1px solid gray;
    padding: 5px;
    text-align: center;
    float: left;
}

.day-status-color {
    width: 110px;
    font-size: 12px;
    margin: 3px;
    border: 1px solid gray;
    padding: 5px;
    text-align: center;
    float: left;
}
.day-status-color.active {
    margin: 1px 1px;
    border: 4px solid #cd5c5c;
}

.day-status-color-traingler {
    width: 0;
    height: 0;
    border-left: 91px solid transparent;
}
.group-color-variation.active {
    margin: 1px 1px;
    border: 3px solid #cd5c5c;
}
.even-week-row {
    background-color: #333;
}
.odd-week-row {
    background-color: #999;
}
.even-week-row .separator, .odd-week-row .separator {
    color: #fff;
}
.separator, .input-time {
    float: left;
    display: inline;
}
.separator {
    font-size: 10px;
    width: 35px;
    height: 20px;
    border-bottom: #808080 1px solid;
    margin: 0px 5px;
}
.set-time-hour, .set-time-min {
    width: 16px;
}
.user-planning-header {
    background-color: #ffa;
}
.group-work-days-planning .header {
    border-top: 1px solid #808080;
    margin-top: 10px;
    padding-top: 5px;
}
.group-planning-weeks tbody form, .user-planning-weeks tbody form {
    margin: 0px;
}
.group-planning-weeks tbody td, .user-planning-weeks tbody td {
    padding: 2px;
    text-align: center;
}
.user-planning-weeks .week-day .pause-time, .user-planning-weeks .week-day .work-time {
    visibility: hidden;
}
.user-planning-weeks .week-day.user-day-enabled .pause-time, .user-planning-weeks .week-day.user-day-enabled .work-time {
    visibility: visible;
}
.request-show-comment {
    cursor: pointer;
    border-bottom: 1px dashed #808080;
    margin-right: 8px;
}
.requests-table {
    margin-top: 30px;
}
.open-request-group {
    margin-top: 30px;
}
.open-request-user-action button {
    width: 100%;
}
.user-settings-table {
    top: 80px;
    left: 20px;
    position: absolute;
    width: 1400px;
}
.user-settings-table th {
    padding: 3px;
}

.user-settings-table.table-small-td td {
    vertical-align: top;
}
.user-settings-table .col-user-name {width: 200px;}
.user-settings-table .col-user-address {width: 100px;}
.user-settings-table .col-user-phone {width: 100px;}
.user-settings-table .col-user-email {width: 100px;}
.user-settings-table .col-user-emergency-phone {width: 100px;}
.user-settings-table .col-user-emergency-name {width: 100px;}
.user-settings-table .col-user-birthday {width: 100px;}
.user-settings-table .col-user-group {width: 100px;}
.user-settings-table .col-user-password {width: 100px;}
.user-settings-table .col-user-work-hours {width: 100px;}
.user-settings-table .col-user-work-time {width: 100px;}
.user-settings-table .col-user-owner {width: 100px;}

.user-settings-table tbody td {
    overflow: hidden;
}

.div-row {
    height: 20px;
}
.underflow-container {
    height: 20px;
    position: relative;
    overflow: hidden;
}
.underflow {
    width: 100500px;
    position: absolute;
}
.editable, .editable-popup {
    cursor: pointer;
    margin-bottom: 1px;
}
.editable:hover, .editable-popup:hover {
    border-bottom: 1px dashed #808080;
    margin-bottom: 0px;
}
.popover {
    width: 400px;
}
.popover-container {
    text-align: center;
}
.input-edit-field {
    width: 300px;
}
.popover-container .new_password, .popover-container .new_password_repeat {width: 200px;}

.popover-container .input-date-day {width: 30px; margin-bottom: 0px;}
.popover-container .input-date-month {width: 30px; margin-bottom: 0px;}
.popover-container .input-date-year {width: 60px; margin-bottom: 0px;}
.change-role-icon {
    margin-left: -23px;
    position: absolute;
    cursor: pointer;
}
.group-history-block, .group-overview-block, .alert-1-block {
    margin-left: 10px;
}

.group-overview-container {width: 1200px;}
.group-overview-header {height: 30px;}

.group-overview-table .group-user-name {width: 200px;}
.group-overview-table .group-user-worked {width: 120px;}
.group-overview-table .group-user-used-free-days {width: 120px;}
.group-overview-table .group-user-overtime {width: 120px;}
.group-overview-table .group-user-doctor-days {width: 120px;}

.alerts-container {width: 1000px;}
.alert-1-header {height: 30px;}
.alert-1-year-table {width: 180px;}
.alert-1-year-table table {width: 100px; margin: 0 auto;}

.open-request-date {white-space: nowrap;}

.request-details-status {font-size: 16px; font-weight: bold;}
.request-details-textarea {width: 510px;}

.group-user-name {width: 155px;}

.week-table-user-day {width: 90px;}

.modal-body-year-total {
    max-height: 500px;
    width: 500px;
    padding: 15px;
}

.modal-year-total {
    width: 700px;
    margin: -300px 0 0 -350px;
}

.set-time-hour-status, .set-time-min-status {
    width: 16px;
    margin: 0px !important;
}

.popup-edit-statuses {
    z-index: 2000 !important;
}
