/*** Re-write Twitter Bootstrap styles ***/
.navbar-static-top .container, .navbar-fixed-top .container, .navbar-fixed-bottom .container, .container {
    width: 1260px;
}
.width-full {
    width: 100%;
}
input[type="checkbox"] {
    margin-bottom: 0px;
}
.popover-inner {
    width: auto;
}
/*** Personal styles ***/
#container {
    margin-top: 60px;
}
.user-row.checked-in .btn-user-check-in, .user-row .btn-user-check-out {
    display: none;
}
.user-row.checked-in .btn-user-check-out {
    display: inline-block;
}
.user-row.checked-out .btn-user-check-in, .user-row.checked-out .btn-user-check-out {
    display: none;
}
.small-tip {
    font-size: 10px;
    color: gray;
}
form.form-mini {
    padding: 0px; margin: 0px;
}
.btn-no-text {
    padding: 6px 14px 7px 14px;
}
.table-small-td td {
    padding-top: 3px;
    padding-bottom: 3px;
    vertical-align: middle;
}
.group-settings-table .input-append, .group-settings-table input {
    margin-bottom: 0px;
}
.group-settings-table td {
    vertical-align: middle;
    padding: 3px;
}
.create-group {
    position: absolute;
    margin-left: -40px;
}
.edit-group {
    position: absolute;
    margin-left: -35px;
}
.create-group-exception {
    position: absolute;
    margin-left: 200px;
}
.group-color-variation {
    width: 70px;
    font-size: 12px;
    margin: 3px;
    border: 1px solid gray;
    padding: 5px;
    text-align: center;
    float: left;
}

.day-status-color {
    width: 65px;
    font-size: 12px;
    margin: 3px;
    border: 1px solid gray;
    padding: 5px;
    text-align: center;
    float: left;
}
.day-status-color.active {
    margin: 1px 1px;
    border: 4px solid #cd5c5c;
}

.day-status-color-traingler {
    width: 0;
    height: 0;
    border-left: 91px solid transparent;
}
.group-color-variation.active {
    margin: 1px 1px;
    border: 3px solid #cd5c5c;
}
.pause-time {
    font-weight: bold;
}
.set-time-hour, .set-time-min {
    width: 16px;
}
.group-planning-weeks tbody form {
    margin: 0px;
}
.group-planning-weeks tbody td {
    padding: 2px;
    text-align: center;
}
.group-planning-weeks .week-type {
    position: absolute;
    margin-left: -120px;
    margin-top: 3px;
    padding: 5px 7px;
}
.requests-table {
    margin-top: 30px;
}
.open-request-group {
    margin-top: 30px;
}
.open-request-user-action button {
    width: 100%;
}
.user-settings-table {
    top: 80px;
    left: 20px;
    position: absolute;
    width: 1400px;
}
.user-settings-table th {
    padding: 3px;
}

.user-settings-table.table-small-td td {
    vertical-align: top;
}
.user-settings-table .col-user-name {width: 200px;}
.user-settings-table .col-user-address {width: 100px;}
.user-settings-table .col-user-phone {width: 100px;}
.user-settings-table .col-user-email {width: 100px;}
.user-settings-table .col-user-emergency-phone {width: 100px;}
.user-settings-table .col-user-emergency-name {width: 100px;}
.user-settings-table .col-user-birthday {width: 100px;}
.user-settings-table .col-user-group {width: 100px;}
.user-settings-table .col-user-password {width: 100px;}
.user-settings-table .col-user-work-hours {width: 100px;}
.user-settings-table .col-user-work-time {width: 100px;}
.user-settings-table .col-user-owner {width: 100px;}

.user-settings-table tbody td {
    overflow: hidden;
}

.div-row {
    height: 20px;
}
.underflow-container {
    position: relative;
}
.underflow {
    width: 100500px;
    position: absolute;
}
.group-history-block, .group-overview-block, .alert-1-block {
    margin-left: 10px;
}

.group-overview-container {width: 1200px;}
.group-overview-header {height: 30px;}

.group-overview-table .group-user-name {width: 200px;}
.group-overview-table .group-user-worked {width: 120px;}
.group-overview-table .group-user-used-free-days {width: 120px;}
.group-overview-table .group-user-overtime {width: 120px;}
.group-overview-table .group-user-doctor-days {width: 120px;}

.alerts-container {width: 1000px;}
.alert-1-header {height: 30px;}
.alert-1-year-table {width: 180px;}
.alert-1-year-table table {width: 100px; margin: 0 auto;}
