.navbar-static-top .container, .navbar-fixed-top .container, .navbar-fixed-bottom .container, .container {
    width: 1260px;
}
.width-full {
    width: 100%;
}
input[type="checkbox"] {
    margin-bottom: 0px;
}
.popover-inner {
    width: auto;
}
/***********************/
#container {
    margin-top: 60px;
}